:root{
  --primary: #03DAC6;
  --secondary: #F8F8F8;
  --text: #F8F8F8;
  --background: #121212;
  --box-background: #1F1F1F;
}

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  align-items: center;
  background-color: var(--background);
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
}

.box{
  background-color: var(--box-background);
  border-radius: 16px;
  padding: 24px;
  padding-top: 12px;
}

.input_wrapper{
  padding: 15px 0 0;
  position: relative;
}

.input_field{
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--secondary);
  color: var(--text);
  font-size: 16px;
  outline: 0;
  padding: 4px 0px;
  padding-right: 32px;
  transition: border-color 0.2s;
}

.input_field::placeholder{
  color: transparent;
}

.input_field:placeholder-shown
~.input_label{
  color: var(--secondary);
  cursor:text;
  font-size: 16px;
  top:20px;
}

label, .input_field:focus
~.input_label{
  color: var(--secondary);
  display: block;
  font-size: 14px;
  left: -1px;
  position: absolute;
  top:0;
  transition: 0.3s;
}

.input_field:focus~.input_label{
  color: var(--primary);
}

.input_field:focus{
  border-bottom: 2px solid var(--primary);
}

.input_icon{
  bottom: -11px;
  cursor: pointer;
  height: 26px;
  padding: 2px;
  position:absolute;
  transform: translate(-50%,-50%);
  transform-origin: center;
  right: -14px;
  width: 26px;
}